.header_section {
    width: 100%;
    float: left;
    background-image: url(./images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding: 20px 0px;
}
.bg-light {
    background-color: transparent !important;
}
.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}
.logo_mobile{
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}
.mobile_menu{
    width: 100%;
    float: left;
    display: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.navbar-nav { align-items: center; }
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}


.menu_main ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}
.menu_main li {
    float: left;
    padding-left: 35px;
    padding-right: 18px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #050101;
}
.menu_main li a{
    color: #050101;
}
.menu_main li a:hover{
    color: #050101;
}


.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
    width: 20%;
    float: left;
}

.menu_main {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #ffffff;

}

